* {
    font-family: Arial;
    font-weight: lighter;
}

html body {
    width: 100%;
    height: 100%;
}

.container {
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: max(6vw, 6vh);
}

.button {
    background-color: rgb(104, 214, 137);
    width: 80%;
    height: 15vh;
    border-radius: 25vh;
    /* margin-top: 20px; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(3vw, 3vh);
}

.button:hover {
    background-color: rgb(87, 178, 114);
    cursor: pointer;
}